body {
background-color: white ;
}


.link {
  color:black;
}

#navbar ul {
 list-style-type:none;
 padding-left: 15em;
 
}

#navbar {
  clear: both;
  width: 100%;
  margin-left:-203px;
  margin-top:-80px;
 
  
}

#navbar ul li a {
  font-family: Arial;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  display: inline;
  padding: 0 2em 0 1em;
  border: 2px outset black
 
}

.Jupiter {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#navbar ul li {
  display:inline;

}

li.changeBackground {
  background-color:red;
}

li.changeBackground:hover {
  background-color:light-blue;
}

li.changeBackground:active {
  background-color: brown;
}


.Jupiter {
  position:fixed;
  bottom:0;
  min-width:100%;
  min-height:100%;
}

.planb {
  text-align: center;
  background-color:gray;
  margin-left: 100px;
}

.Lets  {
  font-family: Arial;
  color:black;
  text-align: center;
}

.niche {
font-size: 33px;
color:black;
font-weight: 900;
}

form {
margin: 3em;
padding-top: .25em;
padding-right: 55em;
padding-bottom: 4em;
padding-left: 1em;
margin-left: 30em;
}

.quote{
  margin-top:150px;
  margin-left:260px;
  font-weight:900;
  
}

.btn {
  width:200px;
  height:45px;
  font-size:24px;
}

footer {
  margin-top:31px;
}

.career:hover {
  transform: scale(1.5);
}

.craft:hover {
  transform:scale(1.5);
}

